@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: auto;
    padding: 15px;
    max-width: 600px;
    font-family: 'Kelly Slab', cursive;
    letter-spacing: 0.8px;
    font-weight: 500;
    background-color: #F9F9F9;

    fieldset {
        border: none;
        margin: 10px 0;
        border-bottom: #eee solid 1px;

        legend {
            padding: 10px 0;
            font-size: large;
            font-weight: 700;
            letter-spacing: 1.4px;
        }

        label {
            margin-right: 10px;
        }
    }

    .field-container {
        margin-top: 10px;

        &.team-name-container {
            margin-right: 15px;
        }
    }

    .textfield {
        margin-right: 5px;
        padding: 0 5px;
        height: 30px;
        width: 160px;
        font-family: 'Roboto', sans-serif;

        &.small {
            width: 40px;
        }
    }

    .numberfield {
        margin-right: 10px;
        height: 30px;
        width: 60px;
    }

    .checkbox {
        margin-right: 10px;
    }
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: large;
}

.hidden {
    display: none;
}

.header {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 30px;

    img {
        height: 64px;
        width: 64px;
        margin: 0 -15px -15px 0;
    }
}