$border-radius: 3px;
$background-color: #1CD3F8;

body {
    margin: auto;
    padding: 15px;
    max-width: 600px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: #F9F9F9;

    fieldset {
        border: none;
        margin: 10px 0;
        border-bottom: #eee solid 1px;

        legend {
            padding: 0;
            font-size: large;
            font-weight: 500;
        }

        label {
            margin-right: 10px;
        }
    }

    .field-container {
        margin-top: 10px;

        &.team-name-container {
            margin-right: 15px;
        }
    }

    .textfield {
        margin-right: 5px;
        padding: 0 5px;
        height: 30px;
    }

    .numberfield {
        margin-right: 10px;
        height: 30px;
        width: 60px;
    }

    .checkbox {
        margin-right: 10px;
    }
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: large;
}

.hidden {
    display: none;
}
