@import "base.scss";

button {
    margin: 30px 10px 0 0;
    padding: 10px 15px;
    background-color: $background-color;
    color: #fff;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
}

.button-container {
    text-align: center;
}
