body * {
    margin-top: 5px;
    font-family: sans-serif;
}

/* Buttons */
button {
    display: block;
    margin: 10px auto;
}

#nextWordButton,
#skipWordButton {
    display: inline;
}

#inRoundButtons {
   text-align: center; 
}

#scoresContainer,
#timer,
#word {
    text-align: center;
}

#timer {
    font-size: xx-large;
}

#word {
    font-size: large;
}
